@import '../components/theme.scss';
@import '@material/top-app-bar/variables';

$background-height: 280px;

.project-background {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: $mdc-top-app-bar-row-height + $background-height;
  background: lighten($mdc-theme-primary, 27);
  z-index: -9999;

  @media screen and (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    height: $mdc-top-app-bar-mobile-row-height + $background-height;
  }
}

.project {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
