@import '../components/theme.scss';
@import '@material/top-app-bar/variables';
@import '@material/elevation/mdc-elevation';
@import '@material/typography/mdc-typography';

$background-height: 280px;

.project-background {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: $mdc-top-app-bar-row-height + $background-height;
  background: lighten($mdc-theme-primary, 27);
  z-index: -9999;

  @media screen and (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    height: $mdc-top-app-bar-mobile-row-height + $background-height;
  }
}

.project {
  @include mdc-elevation(4);
  max-width: 800px;
  width: 100%;
  margin: auto;
  background: #fff;
  border-radius: 4px;
  padding: 64px;
  margin-top: 80px;

  & > p {
    @include mdc-typography('body1');
  }

  & > h1 {
    @include mdc-typography('headline4');
  }
}
