$page-column-gap: 0 !default;
$resume-background-height: 260px;
$desktop-fab-breakpoint: 1040px;

@import '../components/theme.scss';
@import '@material/typography/mdc-typography';
@import '@material/elevation/mdc-elevation';
@import '@material/top-app-bar/variables';
@import '@material/animation/variables';

.resume-background {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: $mdc-top-app-bar-row-height + $resume-background-height;
  @media screen and (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    height: $mdc-top-app-bar-mobile-row-height + $resume-background-height;
  }
  background: lighten($mdc-theme-primary, 27);
  z-index: -9999;
}

.route-transition-exit {
  .resume-background {
    top: calc(-1 * var(--route-transition-scroll));
  }

  #download-resume-fab {
    @media screen and (min-width: $desktop-fab-breakpoint) {
      top: calc(
        -1 * var(--route-transition-scroll) + (#{$resume-background-height} + 5px)
      );
    }
  }
}

#download-resume-fab {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 8;
  transform-origin: 50% 50%;
  animation: dr-scale-up $mdc-animation-deceleration-curve-timing-function
    300ms 0s both;
  animation: dr-scale-up $mdc-animation-deceleration-curve-timing-function
    300ms var(--current-route-transition-duration) both;

  @media screen and (min-width: $desktop-fab-breakpoint) {
    bottom: 0;
    right: 0;
    top: $resume-background-height + 5px;
    left: calc(50% + 440px);
    transform: translateY(50%);
    // it is 100% on the Y axis because of the translateY which is offsetting it by 50%
    transform-origin: 50% 100%;
    animation: dr-scale-up--desktop
      $mdc-animation-deceleration-curve-timing-function 300ms 0s both;
    animation: dr-scale-up--desktop
      $mdc-animation-deceleration-curve-timing-function 300ms
      var(--current-route-transition-duration) both;
  }
}

@keyframes dr-scale-up {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dr-scale-up--desktop {
  0% {
    transform: scale(0) translateY(50%);
  }

  100% {
    transform: scale(1) translateY(50%);
  }
}

.resume {
  @media screen and (max-width: 799.99999px) {
    position: absolute;
    top: 32px;
    left: 0;
  }
  @media screen and (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    top: 24px;
  }
  $padding: 16px;
  padding: 0 $padding;
  display: block;
  margin: 80px auto 0px auto;
  width: 800px + 2 * $padding;
}

.page {
  z-index: 0;
  background: #fff;
  margin: 32px 0px;
  $border-radius: 4px;
  padding-bottom: 141.421356237%;
  position: relative;
  width: 100%;
  @include mdc-elevation(4);
  border-radius: $border-radius;
  &__inner {
    border-radius: $border-radius;
    overflow: hidden;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 64px;
  }
  &__headline-1 {
    @include mdc-typography('headline2');
    font-size: 2.5rem;
    margin: 0;
    line-height: 1.2;
    color: $mdc-theme-primary;
  }
  &__subtitle-1 {
    @include mdc-typography('subtitle1');
    color: #656565;
    margin: 0.5rem 0 1rem 0;
    font-size: 1.3rem;
    line-height: 1.2;
  }
  &__headline-2 {
    @include mdc-typography('headline6');
    // font-size: 2rem;
    // margin: 1rem 0;
    font-weight: 500;
    // line-height: 1.2;
    color: $mdc-theme-primary;
  }
  &__headline-3 {
    @include mdc-typography('subtitle1');
    // font-size: 2rem;
    // margin: 1rem 0;
    font-weight: 500;
    margin-bottom: 0;
    // line-height: 1.2;
    // color: $mdc-theme-primary;
  }
  &__subtitle-3 {
    @include mdc-typography('subtitle2');
    color: #656565;
    margin: 0;
    // font-size: 2rem;
    // margin: 1rem 0;
    // font-weight: 500;
    // line-height: 1.2;
    // color: $mdc-theme-primary;
    a {
      font-weight: 400;
    }
  }
  &__column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: $page-column-gap;
    position: relative;
    @mixin top-border() {
      content: '';
      position: absolute;
      top: 0;
      background: #a600ff;
      height: 4px;
      transform: translateY(calc(-100% + #{$page-column-gap}));
    }
    &--left {
      order: 0;
      flex-grow: 1.2;
      &::before {
        @include top-border();
        width: 15%;
      }
    }
    &--right {
      order: 1;
      flex-grow: 2;
      &::before {
        @include top-border();
        width: 100%;
      }
    }
    &--no-top-border {
      &::before {
        opacity: 0;
      }
    }
  }
  &__columns {
    width: 100%;
    display: flex;
    margin: -$page-column-gap;
    &:not(:last-child) {
      margin-bottom: calc(1.5rem - #{$page-column-gap});
    }
    &--centered-horizontally {
      justify-content: center;
    }
    &--centered-vertically {
      align-items: center;
    }
    &--multiline {
      flex-wrap: wrap;
    }
    &--no-gaps {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
      & > .page__column {
        margin: 0;
        padding: 0 !important;
      }
    }
  }
}

#contact-info {
  padding: 0;
  margin: 0;
  @include mdc-typography('body2');
  list-style: none;
  & > li > a {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
  }
  & > li > a > svg {
    width: 1.1rem;
    height: 1.1rem;
    fill: $mdc-theme-primary;
    flex-shrink: 0;
    margin-right: 0.5rem;
  }
}

a {
  text-decoration: underline;
}

.text--primary {
  color: $mdc-theme-primary;
}

#generic-info {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #656565;
  font-weight: 700;
  display: inline-block;
  li {
    display: inline-block;
  }
  li > .separator {
    display: inline-block;
    margin: 0 0.2rem;
  }
}

#spoken-languages {
  text-align: center;
  border-collapse: collapse;
  font-size: 13px;
  margin-top: 20px;
  display: block;
  tr {
    display: flex;
    width: 100%;
  }
  td,
  th {
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-grow: 1;
    // flex-shrink: 1;
  }
  th {
    font-weight: 400;
    text-transform: uppercase;
    color: $mdc-theme-primary;
  }
  th,
  td {
    padding: 8px;
  }
  &,
  th,
  td {
    border: 1px solid #b6b6b6;
  }
  & > tbody > tr {
    position: relative;
    & > th {
      position: absolute;
      left: 0;
      transform: translateX(-100%);
      border: none;
    }
  }
}
