@import './theme';
@import '@material/animation/variables';
@import '@material/top-app-bar/variables';
@import '@material/typography/mdc-typography';
@import '@material/button/variables';

.home-banner {
  width: 100%;
  height: calc(100vh - 56px);
  position: relative;
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }

  &__svgs {
    position: relative;
    z-index: 1;

    @mixin orientation($orientation) {
      @if ($orientation == 'portrait') {
        margin-top: auto;
        height: auto;
        width: 100%;
      } @else {
        margin-left: auto;
        height: 100%;
        width: auto;
      }
    }

    @media screen and (orientation: portrait) {
      @include orientation('portrait');
    }

    @media screen and (orientation: landscape) {
      @include orientation('landscape');
    }

    @media screen and (orientation: landscape) and (max-width: 120vh) {
      @include orientation('portrait');
    }
  }

  &__svg {
    height: 100%;
    width: auto;

    &:not(:first-of-type) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@mixin animation-fade-in($duration: 0.5s, $delay: 0s) {
  animation: fade-in 0.5s $mdc-animation-acceleration-curve-timing-function
    $delay both;
}

@mixin animation-rise($duration: 0.4s, $delay: 0s) {
  animation: rise 0.4s $mdc-animation-standard-curve-timing-function $delay both;
}

@mixin animation-scale-up($duration: 0.4s, $delay: 0s) {
  transform-origin: 50% 40%;
  animation: scale-up 0.4s $mdc-animation-standard-curve-timing-function $delay
    both;
}

#monitor-screen {
  @include animation-fade-in();
}

#phone-screen {
  @include animation-fade-in();
}

#message-bubble {
  @include animation-rise($delay: 0.6s);
}

#internet {
  @include animation-rise($delay: 0.5s);
}

#mail {
  @include animation-rise($delay: 0.35s);
}

#at {
  @include animation-rise($delay: 0.45s);
}

#shield {
  @include animation-rise($delay: 0.8s);
}

#wi-fi {
  & > path:nth-of-type(1) {
    @include animation-fade-in($duration: 0.3s, $delay: 0.3s);
  }
  & > path:nth-of-type(2) {
    @include animation-fade-in($duration: 0.3s, $delay: 0.4s);
  }
  & > path:nth-of-type(3) {
    @include animation-fade-in($duration: 0.3s, $delay: 0.5s);
  }
  & > path:nth-of-type(4) {
    @include animation-fade-in($duration: 0.3s, $delay: 0.6s);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rise {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-up {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

#chart-1 {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.3s,
    )
  );
}

#chart-1-reflection {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.3s,
    )
  );
}

#chart-2 {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.6s,
    )
  );
}

#chart-2-reflection {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.6s,
    )
  );
}

#chart-3 {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.5s,
    )
  );
}

#chart-3-reflection {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.5s,
    )
  );
}

#chart-4 {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.4s,
    )
  );
}

#chart-4-reflection {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.4s,
    )
  );
}
