@import './theme';
@import '@material/animation/variables';
@import '@material/top-app-bar/variables';
@import '@material/typography/mdc-typography';
@import '@material/button/variables';
@import './LineReveal/variables';

.home-banner {
  width: 100%;
  min-height: 300px;
  height: calc(100vh - 56px);
  position: relative;
  display: flex;

  background-color: $mdc-theme-on-primary;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }

  &__svgs {
    position: relative;
    z-index: 1;

    @mixin orientation($orientation) {
      @if ($orientation == 'portrait') {
        margin-top: auto;
        height: auto;
        width: 100%;
      } @else {
        margin-left: auto;
        height: 100%;
        width: auto;
      }
    }

    @media screen and (orientation: portrait) {
      @include orientation('portrait');
    }

    @media screen and (orientation: landscape) {
      @include orientation('landscape');
    }

    @media screen and (orientation: landscape) and (max-width: 120vh) {
      @include orientation('portrait');
    }
  }

  &__svg {
    height: 100%;
    width: auto;

    &:not(:first-of-type) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__content {
    padding: 0 2rem;
    position: absolute;
    z-index: 2;

    @media screen and (orientation: landscape) and (min-width: 120vh) and (min-height: 700px) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    & > * {
      margin-top: 3rem !important;
      @media screen and (min-height: 400px) and (min-width: 500px) {
        margin-top: 4rem !important;
      }
      @media screen and (orientation: landscape) and (min-width: 120vh) and (min-height: 700px) {
        margin-top: 0 !important;
      }
    }

    & > div > .mdc-button {
      @mixin button($scale: 1) {
        $mdc-button-font-size: 0.875rem;
        border-radius: $mdc-button-height / 2 * $scale;
        height: $mdc-button-height * $scale;
        padding: 0 2 * $mdc-button-horizontal-padding * $scale;
        font-size: $mdc-button-font-size * $scale;
      }

      @include button(1);

      @media screen and (orientation: landscape) and (min-width: 120vh) and (min-height: 700px) {
        @include button(1.5);
      }
    }
  }

  &__headline {
    position: relative;
    color: $mdc-theme-primary;
    text-shadow: 2.5px 2.5px 0 $mdc-theme-on-primary,
      2.5px -2.5px 0 $mdc-theme-on-primary, -2.5px 2.5px 0 $mdc-theme-on-primary,
      -2.5px -2.5px 0 $mdc-theme-on-primary, 2.5px 0px 0 $mdc-theme-on-primary,
      0px 2.5px 0 $mdc-theme-on-primary, -2.5px 0px 0 $mdc-theme-on-primary,
      0px -2.5px 0 $mdc-theme-on-primary;
    @include mdc-typography('headline3');
    margin: 0;
    font-size: 2.6rem;
    line-height: 2.825rem;
    margin-left: 3 * $line-reveal-line-thin-width;

    @media screen and (orientation: landscape) and (min-width: 120vh) and (min-height: 700px) {
      @include mdc-typography('headline2');
      font-weight: 400;
      margin: 0;
      margin-left: 3 * $line-reveal-line-width;
    }
  }
}

.hide-small {
  @media screen and (max-width: 499px) {
    display: none;
  }
}

.hide-large {
  @media screen and (min-width: 500px) {
    display: none;
  }
}

@mixin animation-fade-in($duration: 0.5s, $delay: 0s) {
  animation: fade-in 0.5s $mdc-animation-acceleration-curve-timing-function
    $delay both;
}

@mixin animation-rise($duration: 0.4s, $delay: 0s) {
  animation: rise 0.4s $mdc-animation-standard-curve-timing-function $delay both;
}

@mixin animation-scale-up($duration: 0.4s, $delay: 0s) {
  transform-origin: 50% 40%;
  animation: scale-up 0.4s $mdc-animation-standard-curve-timing-function $delay
    both;
}

#monitor-screen {
  @include animation-fade-in();
}

#phone-screen {
  @include animation-fade-in();
}

#message-bubble {
  @include animation-rise($delay: 0.6s);
}

#internet {
  @include animation-rise($delay: 0.5s);
}

#mail {
  @include animation-rise($delay: 0.35s);
}

#at {
  @include animation-rise($delay: 0.45s);
}

#shield {
  @include animation-rise($delay: 0.8s);
}

#wi-fi {
  & > path:nth-of-type(1) {
    @include animation-fade-in($duration: 0.3s, $delay: 0.3s);
  }
  & > path:nth-of-type(2) {
    @include animation-fade-in($duration: 0.3s, $delay: 0.4s);
  }
  & > path:nth-of-type(3) {
    @include animation-fade-in($duration: 0.3s, $delay: 0.5s);
  }
  & > path:nth-of-type(4) {
    @include animation-fade-in($duration: 0.3s, $delay: 0.6s);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rise {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-up {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

#chart-1 {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.3s,
    )
  );
}

#chart-1-reflection {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.3s,
    )
  );
}

#chart-2 {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.6s,
    )
  );
}

#chart-2-reflection {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.6s,
    )
  );
}

#chart-3 {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.5s,
    )
  );
}

#chart-3-reflection {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.5s,
    )
  );
}

#chart-4 {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.4s,
    )
  );
}

#chart-4-reflection {
  @include animation-scale-up(
    $duration: 0.3s,
    $delay: (
      0.3s + 0.4s,
    )
  );
}
