@import './utils.scss';
@import '@material/animation/variables';
@import '@material/top-app-bar/variables';

$route-transition-duration: 3000ms !default;
$route-transition-easing: $mdc-animation-standard-curve-timing-function !default;

:root {
  --route-transition-scroll: 0px;
  --route-transition-duration: 0ms;
  --route-transition-direction: 1;
}

@mixin route-center {
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: block;
  padding-top: $mdc-top-app-bar-row-height;
  @media screen and (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    padding-top: $mdc-top-app-bar-mobile-row-height;
  }
}

.route-transition-enter {
  @include route-center();
  transform: translateX(calc(var(--route-transition-direction) * 100%));
  z-index: 0;
}

.route-transition-enter.route-transition-enter-active {
  transform: translateX(0%);
  transition: transform $route-transition-duration $route-transition-easing;
}

.route-transition-exit {
  @include route-center();
  top: var(--route-transition-scroll);
  transform: translateX(0%);
  z-index: -9999;
}

.route-transition-exit.route-transition-exit-active {
  transform: translateX(calc(var(--route-transition-direction) * -100%));
  transition: transform $route-transition-duration $route-transition-easing;
}

body {
  overflow-x: hidden;
}

:export {
  routeTransitionDuration: strip-unit($route-transition-duration);
}
