$carousel-aspect-ratio: percentage(800/1330);
$carousel-max-width: 1330px;
$slide-animation-duration: 6s;
$slide-change-duration: 1s;

$slide-animations: (
  performance: (
    lightning: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.3s,
    ),
    top-left-shapes: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0s,
    ),
    image: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.2s,
    ),
    top-right: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0s,
    ),
    bottom-left: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.3s,
    ),
    raf: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.27s,
    ),
    60fps: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.12s,
    ),
    bottom-right-shapes: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.22s,
    ),
  ),
  reliability: (
    image: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.2s,
    ),
    cloud: (
      easing: cubic-bezier(0.18, 0, 0.33, 1),
      delay: 0.24s,
    ),
    no-wi-fi: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.09s,
    ),
    pwa-p: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.02s,
    ),
    pwa-w: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.09s,
    ),
    pwa-a: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.16s,
    ),
    like: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.01s,
    ),
    lock: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.13s,
    ),
    server: (
      easing: cubic-bezier(0.34, 0, 0.22, 1),
      delay: 0.2s,
    ),
    dinosaur: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.25s,
    ),
    sw: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.12s,
    ),
    cogs: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.17s,
    ),
    bottom-right: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.3s,
    ),
  ),
  accessibility: (
    image: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.2s,
    ),
    top-left: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0s,
    ),
    top-right: (
      easing: cubic-bezier(0.34, 0, 0.22, 1),
      delay: 0.17s,
    ),
    bottom-left: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.3s,
    ),
    voice: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.16s,
    ),
    eye: (
      easing: cubic-bezier(0.25, 0, 0.25, 1),
      delay: 0.25s,
    ),
  ),
);

$slides: map-keys($slide-animations);

$start-delays: ();
$max-delays: ();

$delays-sum: 0s;

@each $slide, $slide-animation in $slide-animations {
  $max-delay: 0s;

  @each $layer, $layer-animation in $slide-animation {
    $delay: map-get($layer-animation, delay);
    @if ($delay > $max-delay) {
      $max-delay: $delay;
    }
  }

  $start-delays: map-merge(
    $start-delays,
    (
      $slide: $delays-sum,
    )
  );

  $max-delays: map-merge(
    $max-delays,
    (
      $slide: $max-delay,
    )
  );

  $delays-sum: $delays-sum + $max-delay;
}
