$carousel-aspect-ratio: percentage(800/1330);
$carousel-max-width: 1330px;
$slides: 'performance', 'reliability', 'accessibility';
$slide-animation-duration: 6s;
$slide-change-duration: 1s;
$slide-ease: ease;
