$carousel-aspect-ratio: percentage(800/1330);
$carousel-max-width: 1330px;
$slide-animation-duration: 6s;
$slide-change-duration: 1s;
$slide-ease: ease;
$slides-easing-map: (
  performance: (
    lightning: cubic-bezier(0.34, 0, 0.22, 1),
    top-left-shapes: cubic-bezier(0.22, 0, 0.24, 1),
    image: cubic-bezier(0.18, 0, 0.36, 1),
    top-right: cubic-bezier(0.1, 0, 0.2, 1),
    bottom-left: cubic-bezier(0.36, 0, 0.4, 1),
    raf: cubic-bezier(0.24, 0, 0.16, 1),
    60fps: cubic-bezier(0.2, 0, 0.36, 1),
    bottom-right-shapes: cubic-bezier(0.3, 0, 0.25, 1),
  ),
  reliability: (
    image: cubic-bezier(0.18, 0, 0.36, 1),
    cloud: cubic-bezier(0.34, 0, 0.26, 1),
    no-wi-fi: cubic-bezier(0.22, 0, 0.48, 1),
    pwa-p: cubic-bezier(0.12, 0, 0.28, 1),
    pwa-w: cubic-bezier(0.145, 0, 0.32, 1),
    pwa-a: cubic-bezier(0.17, 0, 0.36, 1),
    like: cubic-bezier(0.12, 0, 0.4, 1),
    lock: cubic-bezier(0.34, 0, 0.26, 1),
    server: cubic-bezier(0.12, 0, 0.06, 1),
    dinosaur: cubic-bezier(0.24, 0, 0.2, 1),
    sw: cubic-bezier(0.12, 0, 0.08, 1),
    cogs: cubic-bezier(0.24, 0, 0.16, 1),
    bottom-right: cubic-bezier(0.36, 0, 0.4, 1),
  ),
  accessibility: (
    image: cubic-bezier(0.24, 0, 0.16, 1),
    top-left: cubic-bezier(0.34, 0, 0.26, 1),
    top-right: cubic-bezier(0.17, 0, 0.12, 1),
    bottom-left: cubic-bezier(0.36, 0, 0.4, 1),
    voice: cubic-bezier(0.24, 0, 0.16, 1),
    eye: cubic-bezier(0.12, 0, 0.4, 1),
  ),
);
$slides: ();

@each $slide, $map in $slides-easing-map {
  $slides: append($slides, $slide);
}
