@import '../theme.scss';
@import './variables.scss';
@import '@material/animation/variables';

.line-reveal {
  &__line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 1;
    transform-origin: top center;
    height: 100%;
    animation: line-animation $line-reveal-animation-duration
      $mdc-animation-standard-curve-timing-function $line-reveal-animation-delay
      both;
    animation: line-animation $line-reveal-animation-duration
      $mdc-animation-standard-curve-timing-function
      calc(
        #{$line-reveal-animation-delay} + var(--current-route-transition-duration)
      )
      both;

    &::before {
      content: '';
      display: block;
      background: $mdc-theme-primary;
      width: $line-reveal-line-thin-width;
      height: 100%;
      position: absolute;
      left: -2 * $line-reveal-line-thin-width;
      top: 0;
      bottom: 0;

      @media screen and (orientation: landscape) and (min-width: 120vh) and (min-height: 700px) {
        width: $line-reveal-line-width;
        left: -2 * $line-reveal-line-width;
      }
    }
  }

  &__placeholder {
    visibility: hidden;
  }

  &__mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    animation: reveal $line-reveal-animation-duration
      $mdc-animation-standard-curve-timing-function $line-reveal-animation-delay
      both;
    animation: reveal $line-reveal-animation-duration
      $mdc-animation-standard-curve-timing-function
      calc(
        #{$line-reveal-animation-delay} + var(--current-route-transition-duration)
      )
      both;
  }

  &__inner-mask {
    animation: reverse-reveal $line-reveal-animation-duration
      $mdc-animation-standard-curve-timing-function $line-reveal-animation-delay
      both;
    animation: reverse-reveal $line-reveal-animation-duration
      $mdc-animation-standard-curve-timing-function
      calc(
        #{$line-reveal-animation-delay} + var(--current-route-transition-duration)
      )
      both;
  }
}

@keyframes reveal {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes reverse-reveal {
  0% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes line-animation {
  0% {
    transform: scaleY(0) translateX(100%);
  }

  40% {
    transform: scaleY(1) translateX(100%);
  }

  100% {
    transform: scaleY(1) translateX(0);
  }
}
