@import '../theme.scss';
@import './variables.scss';
@import '@material/animation/variables';

.line-reveal {
  &__line {
    position: absolute;
    left: 0;
    top: 0;
    width: $reveal-line-thin-width;
    transform: scale(1) translateX(-300%);
    transform-origin: top center;
    background: $mdc-theme-primary;
    height: 100%;
    animation: line-animation 1s $mdc-animation-standard-curve-timing-function
      both;

    @media screen and (orientation: landscape) and (min-width: 120vh) and (min-height: 700px) {
      width: $reveal-line-width;
    }
  }

  &__placeholder {
    visibility: hidden;
  }

  &__mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    animation: reveal 1s $mdc-animation-standard-curve-timing-function both;
  }

  &__inner-mask {
    animation: reverse-reveal 1s $mdc-animation-standard-curve-timing-function
      both;
  }
}

@keyframes reveal {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes reverse-reveal {
  0% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes line-animation {
  0% {
    // There are 3-4 fixed width
    transform: scaleY(0) translateX(468px + 4 * $reveal-line-width);
  }

  40% {
    transform: scaleY(1) translateX(468px + 4 * $reveal-line-width);
  }

  100% {
    transform: scaleY(1) translateX(-3 * $reveal-line-width);
  }
}
