@import '@material/top-app-bar/variables';

@mixin route-center {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: $mdc-top-app-bar-row-height;

  @media screen and (max-width: $mdc-top-app-bar-mobile-breakpoint) {
    padding-top: $mdc-top-app-bar-mobile-row-height;
  }
}
