@import './variables';
@import './mixins';
@import './functions';

.route-transition-enter {
  transform: translateX(var(--route-transition-enter-translate-x));
  z-index: 0;

  &-active {
    transform: translateX(0%);
    transition: mdc-animation-standard(transform, $route-transition-duration);
  }
}

.route-transition-exit {
  @include route-center();
  transform: translateX(0%);
  z-index: -9999;

  &-active {
    transform: translateX(var(--route-transition-exit-translate-x));
    transition: mdc-animation-standard(transform, $route-transition-duration);
  }
}
