@import '../utils.scss';
@import '@material/animation/variables';

$route-transition-duration: 300ms !default;

:root {
  --route-transition-enter-translate-x: 100%;
  --route-transition-exit-translate-x: -100%;
  --route-transition-duration: #{$route-transition-duration};
}

:export {
  routeTransitionDuration: strip-units($route-transition-duration);
}
